fastapi
uvicorn
starlette
celery
redis

aiofiles
aiohttp
httpx
requests
urllib3
python-dotenv

pydantic
pydantic-settings
psutil
GPUtil

asyncmy
aiomysql
PyMySQL
asyncpg
SQLAlchemy
pgvector
pymilvus

beautifulsoup4
chardet
PyYAML
playwright
playwright-stealth

openai
langchain-community
langchain-core
langchain-openai
langchain-teddynote
docling
unstructured

boto3
pandas
openpyxl
xlrd
python-docx
python-pptx
pyhwp
Pillow

pypdf
PyPDF2
pdfplumber
pikepdf
PyMuPDF
camelot-py
pytesseract
